@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800;900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    p,
    input,
    textarea,
    select {
        @apply text-zinc-600 leading-relaxed;
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        @apply text-zinc-800;
    }
}

.ck-editor__editable[role="textbox"] {
    @apply prose prose-zinc max-w-none;
    min-height: 500px;
}
